@media screen and (max-width: 1024px) {
  main .hero-section h1 {
    width: 100%;
    font-size: 2.1rem;
  }

  .faq .faq-content {
    margin-left: 1.2rem;
  }

  .testimonial .wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    width: 100%;
    padding: 15px;
    margin-left: 0;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1024px) {
  main .hero-section h1 {
    width: 100%;
    font-size: 2.1rem;
  }

  .faq .faq-content {
    margin-left: 1.2rem;
  }

  .testimonial .wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    width: 100%;
    padding: 15px;
    margin-left: 0;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 899px) {
  nav{
    padding: 0px 10px;
  }
  nav .logo {
    width: 100%;
    font-size: 30px;
}

.mobile i{
  font-size: 30px;
  color: rgb(27, 27, 84);
  outline: 0;
  border: none;
}
  nav .nav-links {
    display: none;
  }
  main .hero-section span.btn {
    padding: 1.2em;
  }
  .services-list {
    flex-direction: column;
  }

  .services-list .services {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 2em;
  }
  .intro-section {
    flex-direction: column;
  }
  .intro-section .intro-sect-1 {
    width: 100%;
  }

  .intro-sect-1 h3 {
    font-size: 2.3em;
    width: 100%;
    line-height: 1.5em;
  }

  .intro-sect-1 p {
    font-size: 1.5em;
    width: 100%;
    line-height: 1.5em;
    padding-bottom: 18px;
    padding-top: 10px;
    font-weight: 300;
  }

  .intro-sect-1 span {
    background-color: rgb(240, 191, 31);
    color: #000;
    width: fit-content;
    padding: 20px 50px;
    border-radius: 3px;
    outline: 0;
    font-size: 1.5em;
    border: 0;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10px;
  }
  .intro-section .intro-sect-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
  }

  .testimonial-header p {
    width: 46rem;
    line-height: 1.6rem;
    margin-bottom: 20px;
    font-size: large;
  }

  .testimonial {
    display: flex;
    margin-top: 0px;
    padding: 20px;
    flex-direction: column;
    width: 100%;
  }

  .testimonial .wrapper .text {
    background-color: #eee;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 35px;
    color: rgba(0, 0, 0, 0.68);
    line-height: 1.6rem;
  }

  .testimonial .wrapper .text p {
    font-size: large;
  }
  .testimonial .wrapper .user .user-about p {
    font-size: 1.1em;
    font-weight: 400;
    opacity: 0.79;
    line-height: 1.2rem;
  }

  .testimonial .wrapper .user .user-about h3 {
    font-size: 1.5em;
    color: rgb(17, 17, 110);
    padding-bottom: 7px;
  }

  .faq .faq-title h2 {
    color: rgb(17, 17, 110);
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 2em;
  }

  .faq .faq-title h2::before {
    content: "";
    background: rgb(240, 191, 31);
    position: absolute;
    width: 4.5rem;
    height: 7px;
    border-radius: 8px;
    top: 2.3rem;
  }

  .faq .faq-title p {
    padding-bottom: 1.4rem;
    opacity: 0.68;
    font-size: 1.4em;
  }

  .faq-content .content h3 {
    padding-bottom: 1.1rem;
    font-size: 1.5em;
  }

  .faq-content .content p {
    opacity: 0.68;
    line-height: 1.54em;
    font-size: 1.2em;
    width: 99%;
  }

  .faq-content .content p {
    opacity: 0.68;
    line-height: 1.54em;
    font-size: 1.2em;
  }

  .contact .card {
    background-color: rgb(3, 3, 72);
    padding: 1rem;
  }

  .contact .card h3 {
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 2.9rem;
    position: relative;
  }

  .contact .card h3::before {
    content: "";
    background: rgb(240, 191, 31);
    position: absolute;
    width: 15.26rem;
    height: 10px;
    border-radius: 8px;
    top: 3.4rem;
  }

  .contact .card form .contact-name input {
    padding: 1rem;
    outline: 0;
    border-radius: 50px;
    border: 0;
    padding-left: 0.8rem;
    width: 17rem;
  }

  .message textarea {
    width: 35rem;
    padding: 0.6rem;
    border-radius: 10px;
    margin-bottom: 1.19rem;
    outline: 0;
    border: 0;
  }

  .card form .send {
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 50px;
    width: 180px;
  }
  .footer-element {
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: 6rem;
    background-color: rgb(3, 3, 62);
    width: 100%;
    height: 360px;
    padding: 1rem;
    color: #fff;
    display: flex;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: flex-start;
    flex-basis: 0;
  }

  .footer-icons h3 {
    font-size: 1.6rem;
  }

  .footer-complimentary span {
    padding-bottom: 0.8rem;
    font-size: 1.2em;
  }

  .footer-complimentary p {
    line-height: 1.9rem;
    padding-bottom: 0.8rem;
    font-size: 1.06em;
  }

  .footer-icons .icons i {
    font-size: 2.2rem;
    padding-bottom: 1.4rem;
    padding-left: 0px;
    padding-right: 1.4rem;
    color: #fff;
    padding-top: 5px;
  }
}

@media screen and (max-width: 781px) {
  nav .logo {
    width: 100%;
    font-size: 30px;
}

.mobile i{
  font-size: 30px;
  color: rgb(27, 27, 84);
  outline: 0;
  border: none;
}
 
  main .hero-section h1 {
    width: 100%;
    font-size: 1.8rem;
    line-height: 3rem;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
  }

  main .hero-section h1 span::before {
    content: "";
    background: rgb(240, 191, 31);
    position: absolute;
    width: 8.6rem;
    height: 7px;
    top: 2.06rem;
  }

  main .hero-section p {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 19px;
    letter-spacing: 1px;
    font-family: cursive;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }

  .faq .faq-title h2 {
    color: rgb(17, 17, 110);
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 2em;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
 nav{
  width: 100%;
  padding: 0px 20px;
 }
  nav .logo {
    width: 100%;
    font-size: 20px;
}

.mobile i{
  font-size: 25px;
  color: rgb(27, 27, 84);
  outline: 0;
  border: none;
}

  main .hero-section h1 {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.8rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

main .hero-section h1 span::before {
  content: "";
  background: rgb(240, 191, 31);
  position: absolute;
  width: 5rem;
  height: 4px;
  top: 1.4rem;
}

main .hero-section p {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: cursive;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  line-height: 1.5rem;
}

main .hero-section span.btn {
  background-color: rgb(17, 17, 110);
  color: #fff;
  padding: 12px;
  font-size: 16px;
  margin-top: 50px;
  font-weight: 600;
}

.hero-img img {
  width: 90%;
  height: 80%;
}

.services-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 35px;
  z-index: 3;
}

.intro-section {
  display: flex;
  background-color: rgb(17, 17, 110);
  margin-top: 20px;
  padding: 25px;
  
  color: #fff;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro-sect-1 h3 {
  font-size: 26px;
  width: 100%;
  line-height: 41px;
  padding-bottom: 18px;
  padding-top: 15px;
}

.intro-sect-1 p {
  font-size: 18px;
  width: 100%;
  line-height: 26px;
  padding-bottom: 18px;
  padding-top: 10px;
  font-weight: 500;
}
.testimonial-header p {
  width: 98%;
  line-height: 1.6rem;
  margin-bottom: 20px;
  font-size: large;
}

.testimonial .wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  justify-content: center;
  width: 100%;
  padding: 15px;
  margin-right: 0;
  padding-bottom: 24px;
}

.faq .faq-title p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.4rem;
  opacity: 0.68;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.faq .faq-content {
  width: 100%;
  padding: 0px 10px;
}

.contact .card {
  width: 100%;
  overflow: hidden;
  background-color: rgb(3, 3, 72);
  padding: 1.9rem;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
}


form {
  display: flex;
  flex-direction: column;
  margin-top: 0em;
  width: 100%;
  font-size: 1.1em;
}

.contact .card form .contact-name {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.contact-name{
width: 100%;
}

.email input {
  font-size: 1.1em;
}

.contact-name .input1{
  margin-bottom: 1.3rem;
}

.contact .card form .contact-name input {
  padding: 1.03rem;
  outline: 0;
  border-radius: 50px;
  border: 0;
  font-size: 1.1em;
  width: 100%;
}

.message textarea {
  width: 20rem;
  padding: 0.6rem;
  border-radius: 10px;
  margin-bottom: 1.19rem;
  outline: 0;
  font-size: 1.1em;
  border: 0;
}
footer {
  margin-top: 6rem;
  background-color: rgb(3, 3, 62);
  width: 100%;
  height: max-content;
  padding: 1rem;
  color: #fff;
  display: flex;
}

.footer-complimentary p {
  line-height: 1.8rem;
  padding-bottom: 0.8rem;
  font-size: .95em;
}

.footer-complimentary span {
  padding-bottom: 0.8rem;
  font-size: .95em;
}

.footer-icons h3 {
  font-size: .95rem;
}

}


@media screen and (max-width: 330px) {
  nav{
   width: 100%;
   padding: 0px 40px;
  }

  main .hero-section h1 {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
  }

  main .hero-section h1 span::before {
    content: "";
    background: rgb(240, 191, 31);
    position: absolute;
    width: 4.35rem;
    height: 4px;
    top: 1.16rem;
  }

  main .hero-section p {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: cursive;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
.hero-img img {
  width: 90%;
  height: 80%;
}

.services-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 35px;
  z-index: 3;
}

.intro-section {
  display: flex;
  background-color: rgb(17, 17, 110);
  margin-top: 20px;
  padding: 25px;
  color: #fff;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro-sect-1 h3 {
  font-size: 26px;
  width: 100%;
  line-height: 41px;
  padding-bottom: 18px;
  padding-top: 15px;
}

.intro-sect-1 p {
  font-size: 18px;
  width: 100%;
  line-height: 26px;
  padding-bottom: 18px;
  padding-top: 10px;
  font-weight: 500;
}
.testimonial-header p {
  width: 90%;
  line-height: 1.6rem;
  margin-bottom: 20px;
  font-size: large;
}

.testimonial .wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  justify-content: center;
  width: 100%;
  padding: 15px;
  padding-bottom: 24px;
}

.faq .faq-title p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.4rem;
  opacity: 0.68;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.faq .faq-content {
  width: 100%;
  padding: 0px 10px;
}

.contact .card {
  width: 98%;
  overflow: hidden;
  background-color: rgb(3, 3, 72);
  padding: 1.9rem;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
}


form {
  display: flex;
  flex-direction: column;
  margin-top: 0em;
  width: 100%;
  font-size: .9em;
}
.contact .card h3{
 font-size: 30px;
}


.contact .card h3::before {
  content: "";
  background: rgb(240, 191, 31);
  position: absolute;
  width: 10rem;
  height: 6px;
  border-radius: 8px;
  top: 2.1rem;
}
.contact .card form .contact-name {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-name{
width: 100%;
}

.email input {
  font-size: .9em;
}

.contact-name .input1{
  margin-bottom: 1.3rem;
}

.contact .card form .contact-name input {
  padding: 1.03rem;
  outline: 0;
  border-radius: 50px;
  border: 0;
  font-size: .9em;
  width: 100%;
}

.message textarea {
  width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  margin-bottom: 1.19rem;
  outline: 0;
  font-size: .9em;
  border: 0;
}
footer {
  margin-top: 6rem;
  background-color: rgb(3, 3, 62);
  width: 100%;
  height: max-content;
  padding: 1rem;
  color: #fff;
  display: flex;
}

.footer-complimentary p {
  line-height: 1.8rem;
  padding-bottom: 0.8rem;
  font-size: .95em;
}

.footer-complimentary span {
  padding-bottom: 0.8rem;
  font-size: .95em;
}

.footer-icons h3 {
  font-size: .95rem;
}
}


