* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  height: 4000px;
  transition: 0.5s ease-in-out;
  height: max-content;
}
.main-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  width: 100%;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: auto;
  margin-bottom: 5.5rem;
}

nav .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/*                                          kkkkkkkkkkkkkkkkkkkkkkkkkk                 */

.tabs{
  width: 100%;
  display:flex;
   align-items: center;
  justify-content: space-between;
  color: #1a2e5f;
}


.form-tabs{
  display: none;
}

.form-tabs.active-tab{
  display: block;
  transition: 0.5s;
}

/*                                              jjjjjjjjjjjjjjjjjjjjjjjjjjjj                    */

nav .nav-links li a {
  font-size: 14px;
  font-weight: 600;
  position: relative;
}


nav .logo {
  width: 25%;
  font-size: 18px;
}

.hover:hover {
  color: rgb(205, 160, 11);
  transition: all 0.3s ease-in-out;
}

nav .nav-links .nav-btn {
  background-color: rgb(17, 17, 110);
  padding: 15px;
  outline: 0;
  border: 0;
  border-radius: 4px;
}

nav .nav-links .nav-btn:hover,
main .hero-section span.btn:hover {
  background-color: rgb(31, 31, 153);
  transition: 0.3s ease-in;
}

nav .nav-links .nav-btn a {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 60%;
  text-align: center;
}

main .hero-section h1 {
  color: rgb(8, 8, 70);
  line-height: 3.9rem;
}

main .hero-section h1 span {
  position: relative;
}

main .hero-section h1 span::before {
  content: "";
  background: rgb(240, 191, 31);
  position: absolute;
  width: 9.9rem;
  height: 7px;
  border-radius: 8px;
  top: 2.4rem;
  left: 3px;
}

main .hero-section p {
  font-size: 21px;
  letter-spacing: 1px;
  font-family: cursive;
  text-align: center;
  padding-top: 50px;
}

main .hero-section span.btn {
  background-color: rgb(17, 17, 110);
  color: #fff;
  padding: 15px;
  font-size: 18px;
  margin-top: 50px;
  font-weight: 600;
}

nav .mode-switch {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}

.toggle1,
.toggle2 {
  outline: none;
  background: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-right: -40px;
}

.toggle1 i:hover {
  transform: scaleX(1, 0.5);
}

.darkborder {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 50px;
}

.lightborder {
  border: 1px solid rgba(246, 242, 242, 0.825);
  padding: 10px;
  border-radius: 50px;
}

.mode-l-remove,
.mode-d-remove {
  display: none;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.hero-img img {
  width: 70%;
  height: 50%;
}

.hero-img img:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}

.services-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 35px;
  z-index: 3;
}

.services-list .services {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin: 0 13px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 33.333%;
}

.service-icon {
  background-color: rgb(240, 191, 31);
  padding: 16px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.services-list .services h3 {
  color: rgb(17, 17, 110);
  padding-bottom: 14px;
  font-size: 25px;
}

.services-list .services .description {
  opacity: 0.87;
  padding-bottom: 14px;
  font-size: 18px;
  width: 96%;
  line-height: 23px;
}

.services-list .services span {
  font-weight: 700;
  padding-top: 5px;
  cursor: pointer;
}
.services-list .services span .arrow {
  color: rgb(240, 191, 31);
  font-size: 18px;
}

.services-list .services span .arrow:hover {
  padding-left: 10px;
  transition: 0.5s ease-in-out;
}

.service {
  background-color: #fff;
  color: #000;
}

.intro-section {
  display: flex;
  background-color: rgb(17, 17, 110);
  margin-top: 45px;
  padding: 45px;
  padding-right: 0px;
  color: #fff;
  width: 100%;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.intro-section .intro-sect-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.intro-section .intro-sect-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.intro-section .intro-sect-2 img {
  width: 100%;
  padding-left: 5px;
}

.intro-sect-1 h3 {
  font-size: 30px;
  width: 70%;
  line-height: 36px;
  padding-bottom: 18px;
  padding-top: 15px;
}

.intro-sect-1 p {
  font-size: 18px;
  width: 85%;
  line-height: 24px;
  padding-bottom: 18px;
  padding-top: 10px;
  font-weight: 500;
}

.intro-sect-1 span {
  background-color: rgb(240, 191, 31);
  color: #000;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 3px;
  outline: 0;
  border: none;
  font-weight: 700;
  margin-top: 10px;
}

.intro-sect-1 span:hover {
  background-color: rgb(214, 175, 48);
  color: #000;
}

.intro-sect-2 {
  height: 330px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.testimonial-header h1 {
  color: rgb(17, 17, 110);
  margin-top: 30px;
  margin-bottom: 18px;
  width: 14.15rem;
  line-height: 2.6rem;
}
.testimonial-header span {
  position: relative;
}

.testimonial-header span::before {
  content: "";
  background: rgb(240, 191, 31);
  position: absolute;
  width: 190px;
  height: 7px;
  border-radius: 8px;
  top: 36px;
  left: 3px;
}

.testimonial-header p {
  width: 46rem;
  line-height: 1.6rem;
}

.testimonial {
  display: flex;
  margin-top: 30px;
  padding: 20px;
}
.testimonial3 {
  margin-top: -50px;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial .wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  width: 100%;
  padding: 24px;
  margin-left: 16px;
}

.testimonial .wrapper:hover {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
}

.testimonial .wrapper .text {
  background-color: #eee;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.68);
  line-height: 1.55rem;
}

.testimonial .wrapper .user {
  display: flex;

  align-items: center;
}

.testimonial .wrapper .user .user-img {
  margin-right: 30px;
}

.testimonial .wrapper .user .user-about h3 {
  font-size: 18px;
  color: rgb(17, 17, 110);
  padding-bottom: 7px;
}

.testimonial .wrapper .user .user-about p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.79;
  line-height: 1.3rem;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq .faq-title {
  text-align: center;
}

.faq .faq-title h2 {
  color: rgb(17, 17, 110);
  padding-bottom: 1.5rem;
  position: relative;
}

.faq .faq-title h2::before {
  content: "";
  background: rgb(240, 191, 31);
  position: absolute;
  width: 3.5rem;
  height: 7px;
  border-radius: 8px;
  top: 1.8rem;
}

.faq .faq-title p {
  padding-bottom: 1.4rem;
  opacity: 0.68;
}


.faq-content .content {
  margin-bottom: 1.95rem;
}

.faq-content .content h3 {
  padding-bottom: 1.1rem;
}

.faq-content .content p {
  opacity: 0.68;
  line-height: 1.54em;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
  opacity: 0.89;
}

.contact .card {
  background-color: rgb(3, 3, 72);
  padding: 3rem;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
}

.contact .card h3 {
  text-align: center;
  padding-bottom: 2.5rem;
  font-size: 1.9rem;
  position: relative;
}

.contact .card h3::before {
  content: "";
  background: rgb(240, 191, 31);
  position: absolute;
  width: 10.1rem;
  height: 7px;
  border-radius: 8px;
  top: 2.15rem;
}

.contact .card form .contact-name input {
  padding: 0.7rem;
  outline: 0;
  border-radius: 50px;
  border: 0;
  padding-left: 0.8rem;
  width: 13rem;
}

.contact .card form .contact-name {
  margin-bottom: 1.3rem;
}

.contact .card form .contact-name .input1 {
  margin-right: 0.6rem;
}

.message textarea {
  width: 27rem;
  padding: 0.6rem;
  border-radius: 10px;
  margin-bottom: 1.19rem;
  outline: 0;
  border: 0;
}

.card form .send {
  padding: 0.6rem;
  font-size: 1.1rem;
  border-radius: 50px;
  width: 180px;
}

.card form button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  box-shadow: inset 0 0 0 0 rgb(240, 191, 31);
  transition: 0.5s ease-in-out;
}
.email input {
  padding: 0.7rem;
  outline: 0;
  border-radius: 50px;
  border: 0;
  padding-left: 0.8rem;
  width: 100%;
  margin-bottom: 1.3rem;
}

.card form button:hover {
  /* color: #fff; */
  box-shadow: inset 50px 0 0 0 rgb(240, 191, 31);
}

footer {
  margin-top: 6rem;
  background-color: rgb(3, 3, 62);
  width: 100%;
  height: 260px;
  padding: 2rem;
  color: #fff;
  display: flex;
}

.footer-element {
  display: flex;
  justify-content: center;
}

.footer-complimentary {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.footer-complimentary span {
  padding-bottom: 0.8rem;
}

.footer-complimentary span em:hover {
  color: #266de8;
  transition: 0.5s ease-in-out;
}
.footer-complimentary p {
  line-height: 1.9rem;
  padding-bottom: 0.8rem;
}
.footer-icons {
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
  margin-left: 4rem;
  align-items: center;
}

.footer-icons .icons i {
  font-size: 1.6rem;
  padding-bottom: 1.4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  color: #fff;
}

.footer-icons .icons i:hover {
  color: #266de8;
  transition: 0.5s ease-in-out;
}

.footer-end {
  display: flex; 
  flex-direction: row;
}

.footer-end span a {
  color: #fff;
  text-decoration: underline;
}

.footer-end .sp-1 {
  padding-right: 1.3rem;
}

.footer-end span a:hover {
  color: #266de8;
  transition: 0.3s ease-in-out;
}

.faq-content .content input[type=radio]{
  
}

.content input[type=radio]{
  visibility: hidden;
}